<div class="draw-option {{drawMode}}" id="draw-option-single" {{action "changeDrawMode" "single"}}><img src="images/pt_location.png" /></div>
<div class="draw-option {{drawMode}}" id="draw-option-graduated" {{action "changeDrawMode" "graduated"}}><img src="images/pt_size.png" /></div>
<div class="draw-option {{drawMode}}" id="draw-option-choropleth" {{action "changeDrawMode" "choropleth"}}><img src="images/pt_color.png" /></div>
<div class="draw-option {{drawMode}}" id="draw-option-type" {{action "changeDrawMode" "type"}}><img src="images/pt_type.png" /></div>
