<div class="dropdown" id="od-quick-theme-dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{#if quickTheme}} 
      {{quickTheme}}
    {{else}}
      Select Quick Style
    {{/if}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li {{action "quickThemeChanged" "NYT"}}>
      <div class="quick-theme-name">
        NYT
      </div>
      <img src="/images/nyt-theme.jpg" class="quick-theme-thumb" />
    </li>
    <li {{action "quickThemeChanged" "Night Commander"}}>
      <div class="quick-theme-name">
        Night Commander
      </div>
      <img src="/images/night-commander.jpg" class="quick-theme-thumb" />
    </li>
    <li {{action "quickThemeChanged" "Minimally Modern"}}>
      <div class="quick-theme-name">
        Minimally Modern
      </div>
      <img src="/images/minimal-modern.jpg" class="quick-theme-thumb" />
    </li>
  </ul>
</div>