<label class="{{if model.checked 'selected-checkbox'}}">
  <input type="checkbox" {{action "change" on="change"}} value="{{name}}">
  {{model.name}} {{#if model.count}}<span>({{model.count}})</span>{{/if}}
</label>
