<div class="row">
  <div class="col-xs-12">
    {{#if showRequestButton}}
      <button class="btn btn-primary" {{action "setShowForm" true}}>Request a dataset</button>
    {{/if}}

    {{#if showForm}}
      <form {{action "submitForm" on="submit"}}>
        <div class="form-group">
          <label for="name-input">Name</label>
          {{input id="name-input" class="form-control" placeholder="Name"}}
        </div>
        <div class="form-group">
          <label for="email-input">Email address</label>
          {{input type="email" class="form-control" id="email-input" placeholder="Email"}}
        </div>
        <div class="form-group">
          <label for="desc-input">What data are you looking for</label>
          {{input type="text" class="form-control" id="desc-input" placeholder="Description"}}
        </div>
        {{#od-activity-button style="contract" showLoading=showLoading type="submit" class="btn btn-primary"}}
          Submit
        {{/od-activity-button}}
      </form>
    {{/if}}

    {{#if showConfirmation}}
      <div class="alert alert-success" role="alert">
        <p>
          Your request has been submitted!
        </p>
        <p>
          Try another {{link-to 'search' 'index'}}?
        </p>
      </div>
    {{/if}}
  </div>
</div>
