<div class="col-xs-12 col-sm-8 page-body">
  <div class="row col-md-12">
    <div id="conversation-toolbar">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-cog"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Turn on all annotations</a></li>
          <li><a href="#">Export annotations to shapefile</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-filter"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        </ul>
      </div>
    </div>
  </div>
  <div class="row col-md-12">
    <h2>{{t "dataset.conversation.new"}}</h2>

    <hr />

    <textarea id="add-comment-textarea"></textarea>

    <span>{{t "dataset.conversation.opts.annotate"}}</span>&nbsp;{{input type="checkbox" checked=showAnnotationOptions}}

    {{#if showAnnotationOptions}}

      <div class="radio">
        <label>{{ radio-button name='annotation-type' value='marker' groupValue=annotationType }}&nbsp;<i class="glyphicon glyphicon-map-marker"></i>&nbsp;{{t "dataset.conversation.opts.marker"}}</label>
      </div>
      <div class="radio">
        <label>{{ radio-button name='annotation-type' value='feature' groupValue=annotationType }}&nbsp;<i class="glyphicon glyphicon-pushpin"></i>&nbsp;{{t "dataset.conversation.opts.feature"}}</label>  
      </div>

      <button class="btn btn-default" {{action "drawPoint"}}>Draw Point</button>
    {{/if}}

  </div>
</div>
