<div class="col-xs-12 col-sm-8 page-body">
  <div class="col-xs-12">
    <img src="{{model.thumbnailUrl}}" alt="thumbnail" class="pull-left thumb" />
    <img src="images/Map32.png" alt="feature service" class="type" />
    <br />{{model.itemType}} by <a href="#">{{model.owner}}</a>
    <br />Updated: {{moment-from-now dataset.updatedAt}}
  </div>
  <div class="col-xs-12">
    <h3>Description</h3>
    <p>{{sanitize-html model.description}}</p>
    <a href="#">More<span class="glyphicon glyphicon-triangle-bottom"></span></a>
  </div>
  <div class="col-xs-12">
    <h3>Dataset Attributes</h3>
    <table id="field-desc">
      <tbody>
        <tr>
          <th class="name">Attribute</th>
          <th>Description</th>
        </tr>
        <tr>
          <td class="name">Service Code</td>
          <td>The code associated with the specific request, used for internal tracking</td>
        </tr>
        <tr>
          <td class="name">Service Code Description</td>
          <td>Readable description of what the code means</td>
        </tr>
        <tr>
          <td class="name">Service Type</td>
          <td>The category the request falls under</td>
        </tr>
        <tr>
          <td class="name">Organization Acronym</td>
          <td>The agency that will respond to the request</td>
        </tr>
        <tr>
          <td class="name">Service Call Count</td>
          <td>How many times this particular request was made</td>
        </tr>
        <tr>
          <td class="name">Add Date</td>
          <td>When the request was added to the system</td>
        </tr>
        <tr>
          <td class="name">Resolution Date</td>
          <td>When the request was resolved</td>
        </tr>
        <tr>
          <td class="name">Service Due Date</td>
          <td>When the request is due to be resolved</td>
        </tr>
        <tr>
          <td class="name">Service Order Date</td>
          <td>When the service was ordered for the request</td>
        </tr>
        <tr>
          <td class="name">Service Order Status</td>
          <td>The current status of the request</td>
        </tr>
        <tr>
          <td class="name">Priority</td>
          <td>The prioirty level of the request, standard or high</td>
        </tr>
        <tr>
          <td class="name">Street Address</td>
          <td>The street address of the request</td>
        </tr>
        <tr>
          <td class="name">Details</td>
          <td>Any additional details included with the request</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
