<div class="jumbotron">

	{{esri-map model=model map=map mapView=mapView}}
  {{od-annotation-layer map=map mapView=mapView drawingToolsAreActivated=drawingToolsAreActivated}}
		
	<div class="container">
  <div class="btn-group dropdown pull-right open">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <span class="glyphicon glyphicon-option-horizontal"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Basemaps</a></li>
		    <li>
          {{#link-to 'mundi'model.id}}
            <span class="glyphicon glyphicon-eye-open"></span> Explore
          {{/link-to}}
        </li>
		    <li><a href="#"><span class="glyphicon glyphicon-map-marker"></span> Find Location</a></li>
		  </ul>
	</div>

		<div class="grounded">
  		<h1>{{model.name}}</h1>
  		<h2>{{model.owner}}</h2>


  		<ul class="nav nav-tabs">
        {{#active-link}}
          {{link-to "Overview" 'dataset.overview' model}}
        {{/active-link}}
        {{#active-link}}
          {{link-to "Data" "dataset.data" model}}
        {{/active-link}}
        {{#active-link}}
          {{link-to "Charts" "dataset.chart" model}}
        {{/active-link}}
        {{#active-link}}
          {{#link-to "dataset.conversation" model}}
            {{t "dataset.subnav.conversation"}}
          {{/link-to}}
        {{/active-link}}
  		</ul>
		</div>
	</div>
</div>

  <div class="row">
    {{outlet}}

    <div class="col-xs-12 col-sm-4 right-sidebar">
      <div class="col-xs-12 primary-cta">
        {{od-download-button model=model action="downloadItem"}}
        <br />
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            APIs <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li>GeoJSON <input type="text"></li>
            <li>GeoService <input type="text"></li>
            <li>OGC WMS <input type="text"></li>
          </ul>
        </div>
        <br />
        <button class="btn btn-default" {{action "favoriteItem" model.id}}>Favorite</button>
        <br /><br />
        <button class="btn btn-default">Share</button>
      </div>
      <div class="col-xs-12 metadata">
      <h2>Details</h2>
      <p><span>{{model.fields.length}}</span> Attributes</p>
      <p><span>{{model.recordCount}}</span> Rows</p>
      <p><a href="{{model.metadataUrl}}">Metadata</a></p>
      <p><a href="#">License</a></p>
      </div>
      <div class="col-xs-12">
      <h2>Tags</h2>
      <p>{{model.tags}}</p>
      </div>
      <div class="col-xs-12">
      <h2>ArcGIS</h2>
      <a href="{{model.landingPage}}" target="_blank" class="btn btn-default">Item</a>
      <a href="{{agoMapUrl}}" target="_blank" class="btn btn-default">Web Map</a>
      </div>
      <div class="col-xs-12">
      <h2>How others use this data</h2>
      <img src="http://placehold.it/60x40" class="pull-left placeholder-img">
      <a href="#">A Survey of Demographics</a>
      <br />Storymap - US Census
      </div>
    </div>

  </div><!-- /row -->

<footer></footer>
