<div class="jumbotron">

	{{esri-map model=model}}
		
	<div class="container">
		<div class="dropdown pull-right">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <span class="glyphicon glyphicon-option-horizontal"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Basemaps</a></li>
		    <li><a href="#"><span class="glyphicon glyphicon-adjust"></span> Vizualization (Mundi)</a></li>
		    <li><a href="#"><span class="glyphicon glyphicon-map-marker"></span> Find Location</a></li>
		  </ul>
		</div>

		<div class="grounded">
  		<h1>{{model.name}}</h1>
  		<h2>{{model.owner}}</h2>


  		<ul class="nav nav-tabs">
        {{#active-link}}
          {{link-to "Overview" 'dataset.overview' model}}
        {{/active-link}}
        {{#active-link}}
          {{link-to "Data" "dataset.data" model}}
        {{/active-link}}
        {{#active-link}}
          {{link-to "Charts" "dataset.chart" model}}
        {{/active-link}}
  		</ul>
		</div>
	</div>
</div>

  <div class="row">
    {{outlet}}

    <div class="col-xs-12 col-sm-4 right-sidebar">
      <div class="col-xs-12 primary-cta">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Download Files <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li class="dropdown-header">Full Dataset</li>
            <li><a href="#">Spreadsheet</a></li>
            <li><a href="#">KML</a></li>
            <li><a href="#">Shapefile</a></li>
          <li class="dropdown-header">Full Dataset</li>
            <li><a href="#">Spreadsheet</a></li>
            <li><a href="#">KML</a></li>
            <li><a href="#">Shapefile</a></li>
          <li class="dropdown-header">Additional Resources</li>
            <li><a href="#">Resource #1</a></li>
            <li><a href="#">Resource #2</a></li>
          </ul>
        </div>
        <br />
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            APIs <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li>GeoJSON <input type="text"></li>
            <li>GeoService <input type="text"></li>
            <li>OGC WMS <input type="text"></li>
          </ul>
        </div>
        <br />
        <button class="btn btn-default">Comments(4)</button>
        <br /><br />
        <button class="btn btn-default">Favorite</button>
        <br /><br />
        <button class="btn btn-default">Share</button>
      </div>
      <div class="col-xs-12 metadata">
      <h2>Details</h2>
      <p><span>244</span> Attributes</p>
      <p><span>{{model.recordCount}}</span> Rows</p>
      <p><a href="{{model.metadataUrl}}">Metadata</a></p>
      <p><a href="#">License</a></p>
      </div>
      <div class="col-xs-12">
      <h2>Tags</h2>
      <p>{{model.tags}}</p>
      </div>
      <div class="col-xs-12">
      <h2>ArcGIS</h2>
      <button class="btn btn-default">Item</button>
      <button class="btn btn-default">WebMap</button>
      <button class="btn btn-default">Storymap</button>
      </div>
      <div class="col-xs-12">
      <h2>How others use this data</h2>
      <img src="http://placehold.it/60x40" class="pull-left placeholder-img">
      <a href="#">A Survey of Demographics</a>
      <br />Storymap - US Census
      </div>
    </div>

  </div><!-- /row -->

<footer></footer>
