<div class="row">
  <div class="col-xs-12 col-sm-3">
    <aside id="sidebar-left" class="sidebar-navigation">
      <!--<div id="search-results-favorites-region" class=""></div>-->
      <h2>Filter By</h2>
        <form id="filter-search-results">
          <div class="form-group filter-location-group">
            <label for="filter-location" class="filter-headings">Location</label>
            <input type="text" type="text" class="form-control" id="filter-location"/>
          </div><!-- /form-group -->
          <div class="form-group filter-source-group">
            <label class="filter-headings">Source</label>
            <div class="checkbox">
                <label class="selected-checkbox">
                    <input type="checkbox" value="">
                    Department of Natural Energy
                </label>
                <label>
                  <input type="checkbox" value="">
                  Dominion Energy
                </label>
                <a href="#">Show More <i class="icon-sort-down-2"></i></a>
            </div><!-- /checkbox -->
          </div><!-- /form-group -->
          {{od-results-filter title="Tags" type="tags" model=stats.top_tags}}
          <div class="form-group filter-categories-group">
            <label class="filter-headings">Categories</label>
            <div class="checkbox">
                <label class="selected-checkbox">
                    <input type="checkbox" value="">
                    #EnergyResources
                </label>
                <label>
                  <input type="checkbox" value="">
                  #Environment
                </label>
                <a href="#">Show More <i class="icon-sort-down-2"></i></a>
            </div><!-- /checkbox -->
          </div><!-- /form-group -->
          <div class="form-group filter-type-group">
            <label class="filter-headings">Content Type</label>
            <div class="checkbox">
                <label class="selected-checkbox">
                    <input type="checkbox" value="">
                    Dataset
                </label>
                <label class="selected-checkbox">
                    <input type="checkbox" value="">
                    Document
                </label>
                <label>
                  <input type="checkbox" value="">
                  Application
                </label>
                <label>
                  <input type="checkbox" value="">
                  Web Link
                </label>
                <label>
                  <input type="checkbox" value="">
                  Map
                </label>
                <a href="#">Show More <i class="icon-sort-down-2"></i></a>
            </div><!-- /checkbox -->
          </div><!-- /form-group -->
          <div class="form-group filter-date-group">
            <label for="filter-date" class="filter-headings">Date Updated</label>
            <input type="text" type="text" class="form-control" id="filter-date" />
          </div><!-- /form-group -->
          <div class="form-group filter-author-group">
            <label class="filter-headings">Author</label>
            <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  DC.gov
                </label>
                <label>
                  <input type="checkbox" value="">
                  Russel Times
                </label>
                <a href="#">Show More <i class="icon-sort-down-2"></i></a>
            </div><!-- /checkbox-->
          </div><!-- /form-group -->
        </form><!-- /filter-search-results -->
    </aside>
  </div>


  <div class="col-xs-12 col-sm-9">
    <h2>
        Your search for <em>"{{q}}"</em> yielded {{format-number totalCount}} datasets
    </h2>
    <ul id="search-results">
        {{outlet}}
    </ul>

    {{#if showPagination}}
      <nav>
        <ul class="pagination">
          {{!-- If we're on the first page, do not display the link --}}
          {{#if isFirstPage}}
            <li class="disabled">
              <a>&laquo;</a>
            </li>
          {{else}}
            <li>
              {{#link-to (query-params page=prevPage)}}&laquo;{{/link-to}}
            </li>
          {{/if}}

          {{!--
            For each page, display a link leading to it.
            We could be smart and disable the link for the current page,
            just like we're doing for the "previous"/"next" links.
          --}}
          {{#each pageRange as |num|}}
            <li class="{{num.className}}">
              {{#link-to (query-params page=num.page)}}{{num.page}}{{/link-to}}
            </li>
          {{/each}}

          {{!-- If we're on the last page, do not display the link --}}
          {{#if isLastPage}}
            <li class="disabled">
              <a>&raquo;</a>
            </li>
          {{else}}
            <li>
              {{#link-to (query-params page=nextPage)}}&raquo;{{/link-to}}
            </li>
          {{/if}}
        </ul>
      </nav>
    {{/if}}

    {{#if showRequestDataset}}
      {{od-request-dataset}}
    {{/if}}

  </div><!-- /col -->
</div><!-- /row -->
