
<h1 id="narrative-header"> {{model.name}} </h1>

<span id="narrative-description">This data layer shows 311 Service Requests in the last 30 days for all service request types.</span>

{{esri-map id="narrative-map" model=model}}

<h4 class="dash-title">311 Service Requests by Org (last 30 days)</h4>
{{dashboard-chart id="chart"}}
{{dashboard-chart id="chart-status"}}

{{outlet}}
